@use "./partials/variables" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

body{
    background-color: #090909;
} 

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container-md {
    width: 60%;
    margin: 0 auto;
}

@media screen and (max-width: 992px) {
    .container-md {
        width: 80%;
    }
}

@media screen and (max-width: 768px) {
    .container-md {
        width: 90%;
    }
}

@media screen and (max-width: 576px) {
    .container-md {
        width: 100%;
    }
}

.bg-violet {
    background-color: $violet;
    box-shadow: 0px 0px 15px 5px $violet;

}
.bg-light-blue {
    background-color: $light-blue;
    box-shadow: 0px 0px 15px 5px $light-blue;
}
.bg-green {
    background-color: $green;
    box-shadow: 0px 0px 15px 5px $green;
}
.bg-dark-blue {
    background-color: $dark-blue;
    box-shadow: 0px 0px 15px 5px $dark-blue;
}
.bg-light-green {
    background-color: $light-green;
    box-shadow: 0px 0px 15px 5px $light-green;
}
.bg-red {
    background-color: $red;
    box-shadow: 0px 0px 15px 5px $red;
}
.bg-yellow {
    background-color: $yellow;
    box-shadow: 0px 0px 15px 5px $yellow;
}